[project]
	description = Revenge starts from here
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chityanj (Chityanj)
[access "refs/for/refs/*"]
	read = group user/Chityanj (Chityanj)
	push = group user/Chityanj (Chityanj)
	label-Code-Review = -2..+2 group user/Chityanj (Chityanj)
	label-Verified = -1..+1 group user/Chityanj (Chityanj)
	rebase = group user/Chityanj (Chityanj)
	removeReviewer = group user/Chityanj (Chityanj)
	submit = group user/Chityanj (Chityanj)
[access "refs/heads/*"]
	read = group user/Chityanj (Chityanj)
	create = group user/Chityanj (Chityanj)
	push = +force group user/Chityanj (Chityanj)
	pushMerge = group user/Chityanj (Chityanj)
[access "refs/tags/*"]
	push = group user/Chityanj (Chityanj)
	push = +force group user/Chityanj (Chityanj)
